.header {
  height: 72px;
  width: 100%;
  margin-bottom: 4px;
  background-color: var(--mantine-color-body);
}

.inner {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
